.projects-grid{
    position: relative;
    margin-top: 2rem;
    width: 65rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.projects-grid-img{
    width: 50%;
}

.projects-grid-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-grid-content{
    width: 50%;
}

.projects-grid-description{
    position: relative;
    margin-top: 1.5rem;
    right: 3rem;
    width: 100%;
    height: 45%;
}

@media screen and (max-width: 768px){
    .projects-grid{
        width: 90%;
        height: 30rem;
        flex-direction: column;
    }

    .projects-grid-img{
        width: 100%;
        height: 50%;
    }

    .projects-grid-content{
        width: 100%;
        height: 50%;
    }

    .projects-grid-description{
        right: 0;
        width: 100%;
        height: 50%;
    }
}