@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.projects {
  padding: 2.5rem 2rem;
}

.projects-content{
  padding: 1.5rem 0;
}

.projects-title h1 {
  font-family: 'Lexend', sans-serif;
  font-size: 3rem;
  color: #000;
}

.projects-description p {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  color: #fff;
}

.projects-button {
  text-align: center;
  margin-top: 25px;
}

.projects-button button {
  background-color: #171717;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.projects-button button:hover {
  background-color: #2c2c2c;
}

.more-projects {
  padding: 1.5rem 0;
}

.more-projects-title h1 {
  font-family: 'Lexend', sans-serif;
  font-size: 3rem;
  color: #000;
}

.more-projects-cards {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 3rem 0;
}

@media screen and (max-width: 1024px){
  .more-projects-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-description p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 950px){
  .more-projects-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-description p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 767px){
  .projects-content{
    padding: 1.5rem 0;
  }

  .projects-title h1 {
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    display: flex;
  }
  
  .projects-description{
    padding: 1.5rem 0;
  }

  .projects-description p {
    font-size: 0.8rem;
  }

  .projects-button {
    margin-top: 0px;
  }

  .more-projects-title h1 {
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    display: flex;
  }

  .more-projects-cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 425px) {
  .projects {
    padding: 2rem 0;
  }

  .projects-description p {
    font-size: 0.7rem;
  }

  .projects-button button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .more-projects {
    padding: 1rem 0;
  }

  .more-projects-cards {
    grid-template-columns: 1fr;
  }
}
