#Home{
    height: 100vh;
}

#About{
    height: 100vh;
}

#Experience{
    height: 100vh;
}

#Projects{
    height: 100vh;
}

@media screen and (max-width: 1024px){
    #Experience{
        height: 140vh;
    }
}

@media screen and (max-width: 1024px) and (max-height: 1367px){
    #About{
        height: 65vh;
    }

    #Experience{
        height: 80vh;
    }
}

@media screen and (max-width: 1000px){
    #About{
        height: 75vh;
    }

    #Experience{
        height: 105vh;
    }
}

@media screen and (max-width: 768px){
    #About{
        height: 110vh;
    }

    #Experience{
        height: 175vh;
    }
}

@media screen and (max-width: 768px) and (max-height: 1024px){
    #About{
        height: 85vh;
    }

    #Experience{
        height: 125vh;
    }
}

@media screen and (max-width: 480px) and (max-height: 935px){
    #About{
        height: 85vh;
    }

    #Experience{
        height: 140vh;
    }
}

@media screen and (max-width: 480px) and (max-height: 916px){
    #About{
        height: 85vh;
    }

    #Experience{
        height: 155vh;
    }
}

@media screen and (max-width: 480px) and (max-height: 850px){
    #About{
        height: 95vh;
    }

    #Experience{
        height: 165vh;
    }
}

@media screen and (max-width: 480px) and (max-height: 750px){
    #About{
        height: 105vh;
    }

    #Experience{
        height: 170vh;
    }
}

@media screen and (max-width: 400px) and (max-height: 750px){
    #About{
        height: 105vh;
    }

    #Experience{
        height: 185vh;
    }
}

@media screen and (max-width: 376px){
    #About{
        height: 120vh;
    }

    #Experience{
        height: 190vh;
    }
}
