#Home{
    height: 100vh;
}

#About{
    height: 100vh;
}

#Experience{
    height: 100vh;
}

#Projects{
    height: 100vh;
}

@media screen and (max-width: 1024px){
    #Experience{
        height: 135vh;
    }
}

@media screen and (max-width: 1000px){
    #Experience{
        height: 160vh;
    }
}

@media screen and (max-width: 768px){
    #About{
        height: 110vh;
    }

    #Experience{
        height: 170vh;
    }
}

@media screen and (max-width: 425px){
    #Experience{
        height: 185vh;
    }
}

@media screen and (max-width: 320px){
    #About{
        height: 105vh;
    }

    #Experience{
        height: 200vh;
    }
}
