@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.experience {
  padding: 4rem 2rem;
}

.experience-content{
  padding: 1.5rem 0;
}

.experience-title h1 {
  font-family: 'Lexend', sans-serif;
  font-size: 3rem;
  color: #000;
}

.experience-content h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  color: #000;
}

.experience-content p {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  color: #000;
}

@media screen and (max-width: 767px){
  .experience {
    padding: 3rem 0rem;
  }

  .experience-title h1 {
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    display: flex;
  }
  
  .experience-content{
    padding: 1.5rem 0;
  }
  
  .experience-content h2, h3, h4 {
    font-size: 1.5rem;
  }
  
  .experience-content p {
    font-size: 0.7rem;
  }
}
